
.cabecalho{
    color: green;
    background-color: black;
    font-size: 25px;
    border-bottom: solid 2px green; padding: 10px;
}

body{
    background-color: ;
    margin: 0px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section{
    display: flex;
    padding-bottom: 80px;
    padding-top: 80px;
    justify-content: center;
}

.conteudo{
    margin-right: 5%;
}


@media screen (max-width: 768px){
    iframe{
        witdh: 100%;
    }
}
    
